.app {
  text-align: center;
  background-color: #292929;
  min-height: 100vh;
}


.header {
  background-color: #5DA5ED;
  height: 50px;
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.header-menu-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  margin-right: 10px;
}

.content {
  display: grid;
  grid-template-columns: 28.5fr 43fr 28.5fr;
  grid-column-gap: 50px;
  grid-auto-rows: 76vh;
  padding: 13vh 68px 0 97px;
}

.content-inner {
  display: grid;
  grid-template-columns: 28.5fr 43fr 28.5fr;
  grid-column-gap: 50px;
  grid-auto-rows: 823px;
}

.content>div {
  background-color: #525252;
  border-radius: 15px;
}

.slider-container {
  padding-top: 8%;
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  position: relative;
  width: 259px;
  height: 71%;
  display: flex;
  flex-direction: row;
}

.slider {
  width: 107px;
  background-color: #6FF48D;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.slider-bottom {
  position: relative;
  background-color: #FA6868;
  z-index: 999;
}

.slider-values {
  width: 84px;
  position: relative;
  margin-right: 20px;

}
.slider-values > span:first-child{
  top: 0;
  left: 0;
}

.slider-values > span:last-child{
  bottom: 0;
  left: 0;
}

.slider-value {
  text-align: right;
  width: 100%;
  position: absolute;
  font-size: 50px;
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider-counter {
  position: absolute;
  left: 0;
}
.image-wrapper {
  left: 0;
  width: 146px;
  position: absolute;
  z-index: 999;
  height: 68.8px;
  background-image: url("./assests/Counter.svg");
  display: flex;
  color: #FFFFFF;
  justify-content: flex-end;
  align-items: center;
}

.counter-value {
  padding-right: 15px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 39px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-wp {
  z-index: 999;
  position: absolute;
  left: 0;
}