@media (min-width: 1px) and (max-width: 479px) {
  .content {
    display: grid;
    grid-template-rows: 550px 550px 550px;
    grid-template-columns: unset;
    grid-row-gap: 50px;
    padding: 100px 20px;
  }
  .slider {
    touch-action: none;
  }
  .bet-amount-container {
    grid-template-columns: 165fr 58fr 58fr
  }
  .bet-amount-btc-input {
    width: 60%;
  }
  .bets-row {
    grid-template-columns: 10fr 7fr;
  }
  .bets-row>span:nth-child(2) {
    display: none;
  }
  .bets-row>span:nth-child(3) {
    display: none;
  }
  .datalist-container {
    padding-top: 10%;
  }
  .bets-list {
    height: 80%;
  }
  .modal {
    position: fixed;
    touch-action: none;
    align-items: start;
    z-index: 3000;
  }
  .modal-inner {
    z-index: 2000;
    width: 100%;
    height: 30%;
    color: white;
    opacity: 99%;
  }
  .modal-header>img{
    display: none;
  }
}